<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="sidenav-nav">
        <div class="logo-container">
            <button class="logo" (click)="toggleCollapse()">SGD</button>
            <div class="logo-text" @fadeInOut *ngIf="collapsed">¡Bienvenid@!</div>
            <!-- <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
                    <i class="bi bi-list"></i>
                </button> -->
        </div>
        
        <hr class="rounded">
        
        <div class="avatar-container">
            <div class="avatar">
                <img src="./assets/avatar/avatar_m_1.svg" alt="" class="avatar-icon">
            </div>
            <div class="avatar-text" @fadeInOut *ngIf="collapsed">
                <span class="name">Renzo Angles</span>
                <span class="program">Director D.S.I.</span>
            </div>
        </div>
        
        <hr class="rounded">

        <div class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </div>

        <hr class="rounded">
        
        <div class="sidenav-nav-item logout-container">
            <a class="sidenav-nav-link">
                <i class="sidenav-link-icon bi bi-box-arrow-left"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Cerrar Sesión
                </span>
            </a>
        </div>
    </div>
    
</div>