<div class="modal-header justify-content-center">
    <h4 class="modal-title" id="modal-basic-title">Ver Estudiante</h4>
</div>
<div class="modal-body">
    <ngb-carousel #carousel id="carousel" class="relative">
        <ng-template ngbSlide #firststep id="firststep">
            <form class="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Nombre</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="Nombre Apellido Apellido" [value]="vs.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Matricula</label>
                                    <input readonly type="text" name="input" class="input" placeholder="2023498999"
                                        [value]="vs.uni_id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">R.U.N.</label>
                                    <input readonly appRutFormat type="text" name="input" class="input"
                                        placeholder="12.345.678-9" [value]="vs.dni">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Año</label>
                                    <input readonly type="text" name="input" class="input" placeholder="2023"
                                        [value]="vs.year">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="coolinput">
                                    <label for="input" class="text">Email Principal</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="correo_estudiante@utalca.cl" [value]="vs.email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="coolinput">
                                    <label for="input" class="text">Email Opcional</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="Sin Correo Extra" [value]="vs.emailextra">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Estado</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="Activo/Graduado/Eliminado" [value]="vs.state">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Financiamiento</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="Conicyt/Utalca/Sin Beca" [value]="vs.scholarship">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Supervisor</label>
                                    <input readonly type="text" name="input" class="input" placeholder="Supervisor 1"
                                        [value]="vs.advisor">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="coolinput">
                                    <label for="input" class="text">Co-Supervisor</label>
                                    <input readonly type="text" name="input" class="input"
                                        placeholder="Sin Segundo Supervisor" [value]="vs.coadvisor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>

        <ng-template ngbSlide #secondstep id="secondstep">
            <div class="semesters-container">
                <div class="semester semester-1">
                    <div class="semester-title"><span>1°</span></div>
                    <div [ngClass]="vs.courses[0].style" class="course course1" container="body" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Sistemas de Ingeniería</span>
                    </div>
                    <div [ngClass]="vs.courses[1].style" class="course course2" container="body" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Optimización de Sistemas</span>
                    </div>
                    <div [ngClass]="vs.courses[2].style" class="course course3" container="body" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Innovación Tecnológica</span>
                    </div>
                    <div [ngClass]="vs.courses[3].style" class="course course4" container="body" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Metodología de Investigación</span>
                    </div>
                    <div [ngClass]="vs.courses[4].style" class="course course5" container="body" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Electivo I</span>
                    </div>
                </div>
                <div class="semester semester-2">
                    <div class="semester-title"><span>2°</span></div>
                    <div [ngClass]="vs.courses[5].style" class="course course6" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Tópico de Especialidad I</span>
                    </div>
                    <div [ngClass]="vs.courses[6].style" class="course course7" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Análisis de Estado del Arte</span>
                    </div>
                    <div [ngClass]="vs.courses[7].style" class="course course8" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Unidad de Investigación I</span>
                    </div>
                    <div [ngClass]="vs.courses[8].style" class="course course9" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Electivo II</span>
                    </div>
                    <div [ngClass]="vs.courses[9].style" class="course course10" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Electivo III</span>
                    </div>
                </div>
                <div class="semester semester-3">
                    <div class="semester-title"><span>3°</span></div>
                    <div [ngClass]="vs.courses[10].style" class="course course11" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Unidad de Investigación II</span>
                    </div>
                    <div [ngClass]="vs.courses[11].style" class="course course12" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Electivo IV</span>
                    </div>
                    <div [ngClass]="vs.courses[12].style" class="course course13" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Tópico de Especialidad II</span>
                    </div>
                    <div [ngClass]="vs.courses[13].style" class="course course14" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Proyecto de Tesis I</span>
                    </div>
                </div>
                <div class="semester semester-4">
                    <div class="semester-title"><span>4°</span></div>
                    <div [ngClass]="vs.courses[14].style" class="course course15" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Taller de Publicación</span>
                    </div>
                    <div [ngClass]="vs.courses[15].style" class="course course16" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Proyecto de Tesis II</span>
                    </div>
                </div>
                <div class="semester semester-5">
                    <div class="semester-title"><span>5°</span></div>
                    <div [ngClass]="vs.courses[16].style" class="course course17" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Tesis Doctoral I</span>
                    </div>
                </div>
                <div class="semester semester-6">
                    <div class="semester-title"><span>6°</span></div>
                    <div [ngClass]="vs.courses[17].style" class="course course18" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Tesis Doctoral II</span>
                    </div>
                </div>
                <div class="semester semester-78">
                    <div class="semester-title"><span>7° 8°</span></div>
                    <div [ngClass]="vs.courses[18].style" class="course course19" placement="top" ngbTooltip="Nota: Sin Información">
                        <span>Tesis de Doctorado y Examen de Grado</span>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide #thirdstep id="thirdstep">
            <div class="marks-container">
                <h3>Aquí van a ir las notas del estudiante en los distintos módulos</h3>
            </div>
        </ng-template>

    </ngb-carousel>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-custom btn-6rem" (click)="closeModal()">Cerrar</button>
    <button type="button" class="btn btn-custom btn-6rem" (click)="backSlide(carousel)"
        [disabled]="backButton">Atrás</button>
    <button type="button" class="btn btn-custom btn-6rem" (click)="nextSlide(carousel)"
        [disabled]="nextButton">Siguiente</button>
</div>