<div class="courses-base">
    <div class="row courses-row g-0">
        <div class="col-md-8 courses-container">
            <div class="courses-box">
                <div class="semesters">
                    <div class="semester-box semester-1">
                        <span>Semestre 1</span>
                    </div>
                    <div class="semester-box semester-2">

                    </div>
                    <div class="semester-box semester-3">

                    </div>
                    <div class="semester-box semester-4">

                    </div>
                    <div class="semester-box semester-5">

                    </div>
                    <div class="semester-box semester-6">

                    </div>
                    <div class="semester-box semester-7">

                    </div>
                    <div class="semester-box semester-8">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-container">
            <div class="card-box">
                <span>tarjetita</span>
            </div>
        </div>
    </div>
</div>